[user]
	email = chithien460@gmail.com
	name = Chi Thien - X1
[alias]
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches

[merge]
	  tool = nvim
