[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "nvim/site/autoload/vim-plug"]
	path = nvim/site/autoload/vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule "nvim/autoload/vim-plug"]
	path = nvim/autoload/vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "dotbot-apt"]
	path = dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
[submodule "zsh/fzf"]
	path = zsh/fzf
	url = git@github.com:junegunn/fzf.git
